<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js" ></script>

    <title>Restaurant Menu app</title>
  </head>
  <body>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select an option
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" data-value="Breakfast">Breakfast</a>
        <a class="dropdown-item" href="#" data-value="Lunch">Lunch</a>
        <a class="dropdown-item" href="#" data-value="Dinner">Dinner</a>
      </div>
    </div>
    <table id="breakfast-table" class="table table-bordered">
      <thead>
      <tr>
        <th class="table-dark" scope="col">Name</th>
        <th class="table-dark" scope="col">Description</th>
        <th class="table-dark" scope="col">Price</th>
      </tr>
    </thead>
      <tbody class="table-dark">
      </tbody>
    </table>
    <script src="app.js"></script>
  </body>
</html>
